### 리스트(list) : 가변형(mutable), 시퀀스, 가장 유용한 자료형, [ ] :대괄호, 중복 허용

In [6]:
a = [1,2,3,4,5]
print(a)
print(type(a))

b = ['a','hello',1,3.5,a,3.5,1]
print(b)

[1, 2, 3, 4, 5]
<class 'list'>
['a', 'hello', 1, 3.5, [1, 2, 3, 4, 5], 3.5, 1]

In [18]:
# 인덱싱
a = [1,2,3,4,5,6]
print(a[0],a[1],a[2],a[5],a[-1])

a[0] = 10        # 가변형이므로 요소 변경이 가능하다
print(a)

1 2 3 6 6
[10, 2, 3, 4, 5, 6]

In [34]:
# 슬라이싱
print(a[:3])   # from 0 to (3 - 1)
print(a[:-1])  # 마지막 요소만 제외
print(a[::-1]) # 요소의 순서를 거꾸로 변경한다

[10, 2, 3]
[10, 2, 3, 4, 5]
[6, 5, 4, 3, 2, 10]

In [60]:
# range(start,end+1,step)
print(list(range(0,10,1)))
print(list(range(10)))
print(list(range(0,10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 튜플(tuple) : 불변형(immutable), 시퀀스형, ( ):소괄호 사용,중복 허용¶

In [73]:
a = (1,2,3,4,5)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [75]:
# 문자열과 리스트,튜플은 인덱싱과 슬라이싱 방법이 동일

In [79]:
# a[0] = 10  # TypeError  , 불변형이므로 요소 수정이 불가

In [87]:
# 패킹(packing), 언패킹 튜플
t = (1,2,'hello')   # 패킹
t = 1,2,'hello'     # 괄호 생략이 가능, 쉼표로 데이터가 구분되어 있으면 튜플, 패킹
a,b,c = t           # 언패킹
print(a,b,c)

1 2 hello

In [101]:
a = (1,2)
print(type(a))   # tuple
a = 1,2
print(type(a))   # tuple
a = (1)
print(type(a))   # int
a = (1,)
print(type(a))   # tuple
a = 1,
print(type(a))   # tuple

<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [95]:
a,b,c = 10,20,'Hi'   # 언패킹

10.0

In [105]:
# 두 개의 값을 서로 변경하는 코드
# x : 1, y : 2

# (1) 전통 언어 방식
x = 1
y = 2
temp = x
x = y
y = temp
print(x,y)

# (2) 파이썬 방식(튜플의 언패킹 사용) 
x,y = 1,2
x,y = y,x
print(x,y)

2 1
2 1

### 사전(dict): 가변형(mutable), 순서가 없다, 연관형, 매핑형 ,{ } : 중괄호사용
#### {key:value,.....}, key 는 반드시 immutable형 이어야 한다(숫자형,문자열,튜플),
#### value 는 mutable,immutable 모두 사용 가능하다

In [110]:
a = {'name':'홍길동', 'age':30,'birth':'20250424',10:100}
print(a)
print(type(a))

{'name': '홍길동', 'age': 30, 'birth': '20250424', 10: 100}
<class 'dict'>

In [122]:
# 요소 접근 : a[key]
print(a['name'],a['age'],a['birth'],a[10])

홍길동 30 20250424 100

In [126]:
# 요소 수정
a['name'] = '김철수'
print(a)

{'name': '김철수', 'age': 30, 'birth': '20250424', 10: 100}

In [130]:
# 요소 추가
a['주소'] = '서울시'
print(a)

{'name': '김철수', 'age': 30, 'birth': '20250424', 10: 100, '주소': '서울시'}

In [132]:
# 제거
del a['주소']
print(a)

{'name': '김철수', 'age': 30, 'birth': '20250424', 10: 100}

In [148]:
# 사전 내장(dict comprehension)
a = {k:ord(k) for k in 'abcdefg'}
print(a)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103}

In [138]:
ord('a')  # 문자 --> 아스키값

97

In [150]:
chr(97)   # 아스키값 --> 문자

'a'

#### 집합(set) : mutable, 순서가 없다, { }중괄호 사용, 중복을 허용하지 않는다

In [153]:
s = {1,2,3,4}
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [157]:
# 리스트에서 중복된 요소를 제거
l = [4,4,4,6,6,6,1,1,1,8,8,8]
s = list(set(l))   
print(s)

[8, 1, 4, 6]

In [ ]:
a = 10             # 정수형
a = 5.23           # 실수형
a = [1,2,3]        # 리스트(list)
a = (1,2,3)        # 튜플(tuple)
a = {'a':'hello'}  # 사전(dict)
a = {1,2,3}        # 집합(set)
a = True           # bool